<h2>Listen</h2>
<p>
  <ul>
    {{#each model as |list|}}
      <li>{{list.name}} <button {{action "deleteList" list}}>Löschen</button></li>
    {{/each}}
  </ul>
</p>

<h2>Liste hochladen</h2>
<p>Existierende Listen mit gleichem Dateinamen werden überschrieben.</p>
<p><input type="file" onchange={{action "handleFiles"}} accept=".csv"></p>

<button {{action "test"}}>test</button>

{{outlet}}
